*{
    margin: 0 auto;
    /* padding: 0px; */
}

/* font style */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header section style */

header{
    height: 1385px;
    background-color: rgba(255, 144, 14, 10%);
}
.header-container{
    max-width: 1440px;
    padding: 63px 0px;
}


.navigation{
    display: flex;
    align-items: center;
}
.brand-logo{
    width: 50%;
    font-size: 3.12rem;
    font-weight: bold;
}
.nav-bar{
    width: 50%;
}
.nav-bar> ul{
    display: flex;
    justify-content: right;
}
.nav-bar > ul >a{
    list-style: none;
    text-decoration: none;
    margin-right: 0;
    margin-left: 70px;
    font-size: 1.12rem;
    line-height: 26px;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
}
.nav-bar > ul >a:hover{
    color: aqua;
    background-color: brown;
    border-radius: 3px;
    padding: 5px 10px;
}

.header-brand{
    margin-top: 116px;
}
.header-brand-title> h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.brand-descrition{
    text-align: center;
    margin: 30px 286px 32px;
}
.explore-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 3.12rem;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}
.explore-btn>a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}
.header-image{
    height: 700px;
    border-radius: 18px;
    border: 10px solid skyblue;
    width: calc(100%-20px);
}
.header-image img{
    width: 100%;
    height: 100%;
}

/* header section media query: mobile version(max-width: 576px) */

