*{
    margin: 0 auto;
    /* padding: 0px; */
}

/* font style */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header section style */

header{
    height: 1385px;
    background-color: rgba(255, 144, 14, 10%);
}
.header-container{
    max-width: 1440px;
    padding: 63px 0px;
}


.navigation{
    display: flex;
    align-items: center;
}
.brand-logo{
    width: 50%;
    font-size: 3.12rem;
    font-weight: bold;
}
.nav-bar{
    width: 50%;
}
.nav-bar> ul{
    display: flex;
    justify-content: right;
}
.nav-bar > ul >a{
    list-style: none;
    text-decoration: none;
    margin-right: 0;
    margin-left: 70px;
    font-size: 1.12rem;
    line-height: 26px;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
}
.nav-bar > ul >a:hover{
    color: aqua;
    background-color: brown;
    border-radius: 3px;
    padding: 5px 10px;
}

.header-brand{
    margin-top: 116px;
}
.header-brand-title> h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.brand-descrition{
    text-align: center;
    margin: 30px 286px 32px;
}
.explore-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 3.12rem;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}
.explore-btn:hover{
    background-color: blueviolet;
}
.explore-btn>a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}
.header-image{
    height: 700px;
    border-radius: 18px;
    border: 10px solid skyblue;
    width: calc(100%-20px);
}
.header-image img{
    width: 100%;
    height: 100%;
}

/* header section media query: mobile version(max-width: 576px) */

main{ max-width: 1440px;}
.quick-list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}
.quick-list-image-gallery img{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.quick-list-image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-info{
    margin-left: 73px;
}
.quick-list-title{
    font-size: 3rem;
}
.quick-list{
    font-weight: 500;
    color: #727272;
}
.our{
    font-weight: bolder;
}
.features-text{
    font-weight: bold;
    color: #FF900E;
}
.quick-list-description{
    margin: 24px 0;
    padding-right: 20px;
}
.quick-list-info>.explore-btn{
    margin-left: 0px;
}

/* feature section start */

.feature{
    margin-top: 130px;
}
.features-info{
    display: flex;
    justify-content: space-between;
    gap: 54px;
}
.features-area{
    margin-top: 40px;
}
.features-heading{
    font-size: 3rem;
    font-weight: bold;
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.features{
    margin: 30px 54px 30px 0px;
    padding: 30px 50px 30px 30px;
}
.features-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.features-image{
    width:800px ;
    height: 1060px;
}
.features-image img{
    width: 100%;
    height: 100%;
}
.experience-label{
    width: 330px;
    height: 180px;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    position: relative;
    bottom: 125px;
    left: -350px;
}
.experience-label h3{
    font-size: 4rem;
    font-weight: bold;
}
.experience-label p{
    font-size: 1.4rem;
}